<%= button_to "マイページへ", { :controller => "mypage", :action => "index"}, :method => :get %>

<%= button_to "ログイン", { :controller => "mypage", :action => "index"}, :method => :get %>

<%= button_to "新規登録", { :controller => "devise/registrations", :action => "new"}, :method => :get %>


<!DOCTYPE HTML>
<!--
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>練習日誌(仮) Top Page</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="index.html">練習日誌(仮)</a></h1>
				<nav><a href="#one">About</a></nav>
				<nav><a href="#two">機能</a></nav>
				<nav><a href="#four">ご意見</a></nav>
				<a href="#nav">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-diamond"></i>
				<h2>練習日誌(仮)</h2>
				<p>中長距離アスリートのための練習日誌＆意見交換サービス</p>
				<ul class="actions">
					<li><a href="#" class="button big alt">新規登録</a></li>
					<li><a href="#" class="button big special">ログイン</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>About</h2>
						<p>記録を狙うランナーにとって、試合や練習の結果を記録し、分析することは非常に重要です。練習日誌(仮)はそんなランナー達をサポートする練習日誌&意見交換サービスです。</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
						<a href="#" class="image"><img src="images/pic10.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="#" class="button big alt">今すぐ練習日誌を書く</a></li>
					</ul>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1">
				<div class="inner">
					<header>
						<h2>機能</h2>
					</header>
					<article class="feature left">
						<span class="image"><img src="images/kinou1.png" alt="" /></span>
						<div class="content">
							<h2>見やすいマイページ機能</h2>
							<p>自分の練習日誌をカレンダー形式で表示。次のレースまであと何日か、自分が過去にどんな練習をしてきたのかが見やすく表示されます。。</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">マイページへ</a></a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="images/kinou2.png" alt="" /></span>
						<div class="content">
							<h2>豊富な記録項目</h2>
							<p>天気や練習タイム、その日の反省等の基本的な項目はもちろん、食事内容、睡眠時間、満足度等様々な項目を記録可能。自分で追加もできます。</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">練習日誌を書く</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature left">
						<span class="image"><img src="images/kinou3.png" alt="" /></span>
						<div class="content">
							<h2>データをグラフで分析</h2>
							<p>これまでに記録した練習日誌のデータを見やすく可視化。日ごとの体重変化から月間走行距離の推移まで、可視化することで自分の成長が一目でわかります。</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">練習日誌を見る</a>
								</li>
							</ul>
						</div>
					</article>
					<!-- <article class="feature right">
						<span class="image"><img src="images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2>他のランナーとの意見交換</h2>
							<p>普段は一人で練習しているランナーも、他のランナーと様々な意見を交換できます。</p>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">チャットへ</a>
								</li>
							</ul>
						</div>
					</article> -->
				</div>
			</section>


		<!-- Three -->
			<!-- <section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>about</h2>
						<p>記録を狙うランナーにとって、試合や練習の結果を記録し、分析することは非常に重要です。練習日誌(仮)はそんなランナー達をサポートする練習日誌、意見交換サービスです。</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button big alt">Magna feugiat</a></li>
					</ul>
				</div>
			</section> -->

		<!-- Four -->
			<section id="four" class="wrapper style2 special">
				<div class="inner">
					<header class="major narrow">
						<h2>ご意見等はこちら</h2>
						<p>以下のフォームにお気づきの点をご入力ください</p>
					</header>
					<form action="#" method="POST">
						<div class="container 75%">
							<div class="row uniform 50%">
								<div class="6u 12u$(xsmall)">
									<input name="name" placeholder="お名前（ニックネーム）" type="text" />
								</div>
								<div class="6u$ 12u$(xsmall)">
									<input name="email" placeholder="Email" type="email" />
								</div>
								<div class="12u$">
									<textarea name="message" placeholder="ご意見" rows="4"></textarea>
								</div>
							</div>
						</div>
						<ul class="actions">
							<li><input type="submit" class="special" value="送る" /></li>
							<li><input type="reset" class="alt" value="全て消す" /></li>
						</ul>
					</form>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="#" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
						<li><a href="#" class="icon fa-instagram">
							<span class="label">Instagram</span>
						</a></li>
						<li><a href="#" class="icon fa-linkedin">
							<span class="label">LinkedIn</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled.</li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a>.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
